server:
  port: 8080

logging:
  pattern:
    console: "%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'} %5p [%t] %c{1}.%M:%L trace_id=%X{traceId} span_id=%X{spanId} - %m%n"

management:
  observations:
    key-values:
      application: ObservabilityDemo

  endpoints:
    web:
      exposure:
        include:
          - health
          - metrics
          - prometheus

  metrics:
    distribution:
      percentiles-histogram:
        demo.hello.latency: true
        demo.compute.latency: true

management.tracing.enabled: true
